---
theme :
  name : twitter
---

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<a class="brand" href="#">{{ site.name }}</a>
		<div class="nav-collapse collapse">
		  <ul class="nav">

		    <li>
                <a href="/">
                    Home
                </a>
            </li>

		    <li>
                <a href="/genometrain/a-experimental-design/">
                    Experimental Design
                </a>
            </li>

		    <li>
                <a href="/genometrain/b-assembly-junction/">
                    Assembly
                </a>
            </li>

		    <li>
                <a href="/genometrain/c-structural-annotation-central/">
                    Structural Annotation
                </a>
            </li>

		    <li>
                <a href="/genometrain/d-feature-curation-crossing/">
                    Feature Curation
                </a>
            </li>

		    <li>
                <a href="/genometrain/e-functional-assignment-broadway/">
                    Functional Assignment
                </a>
            </li>

		  </ul>
		</div>
    </div>
  </div>
</div>

{% include JB/setup %}
{% include themes/twitter/default.html %}

